@(books: List[Book], bookForm: Form[Book])

@import helper._

@main("Book List") {

	<h1>Book List</h1>    

    <h2>Add a new book</h2>
    @form(routes.Application.newBook()) {
        @inputText(bookForm("title"), '_label -> "Title:") 
        @inputText(bookForm("author"), '_label -> "Author:") 
        @inputText(bookForm("isbn"), '_label -> "ISBN:") 
        @inputText(bookForm("publisher"), '_label -> "Publisher:") 
        @inputText(bookForm("publishedplace"), '_label -> "Published place:") 
        @inputText(bookForm("publisheddate"), '_label -> "Published date:") 
        @inputText(bookForm("series"), '_label -> "Series:") 
        @inputText(bookForm("originaltitle"), '_label -> "Original title:") 
        @inputText(bookForm("translator"), '_label -> "Translator:") 
        @inputText(bookForm("source"), '_label -> "Source:") 
        <input type="submit" value="Create">
    }

	@if(books.size() == 1) {
	  <h2>1 book</h2>
	} else {
	  <h2>@books.size() books</h2>
	}    
    <table>
    	<tr class="header">
    		<th>Title</th>
    		<th>Author</th>
    		<th>Publisher</th>
    		<th>ISBN</th>
    		<th></th>
    	</tr>
        @for(book <- books) {
            <tr>
                <td class="title">@book.getTitle()</td>
                <td>@book.getAuthor()</td>
                <td>@book.getPublisher()</td>
                <td>@book.getIsbn()</td>
                <td>
                @form(routes.Application.deleteBook(book.getId().toString())) {
                    <input type="submit" value="Delete">
                }
                </td>
            </tr>
        }
    </table>
    
}