@(books: List[Book], bookForm: Form[Book])

@import helper._

@main("Book List") {

	<h1>Book List</h1>    

	@if(books.size() == 1) {
	  <h2>1 book</h2>
	} else {
	  <h2>@books.size() books</h2>
	}    
    <table>
    	<tr class="header">
    		<th>Title</th>
    		<th>Author</th>
    		<th>Publisher</th>
    		<th>ISBN</th>
    	</tr>
        @for(book <- books) {
            <tr>
                <td class="title">@book.getTitle()</td>
                <td>@book.getAuthor()</td>
                <td>@book.getPublisher()</td>
                <td>@book.getIsbn()</td>
            </tr>
        }
    </table>
    
}